body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: white;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: rgb(255,255, 255,0.03);
    height: 250px;
    width: 300px;
    padding: 30px 40px;
    border-radius: 20px;
    text-align: center;
   
}
.heading{
    text-align: center;
}
.heading p{
    color: #a5a6d1;
}
.dob_ip{
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: rgb(255,255, 255,0.03);
    margin-left: 30px;
    height: 22px;
    border-radius: 8px;
    padding: 8px;
    color: white;
    border: 1px solid #6366f1;
}
.btn{
    margin-top: 20px;
    padding: 8px 16px;
    background: #6366f1;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.result{
    margin-top: 20px;
}
